<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Landos</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <app-root></app-root>

  <script src="{{ url_for('static', filename='js/runtime.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/polyfills.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/vendor.js') }}" defer></script>
  <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</body>
</html>
