{% extends "index.html" %}
{% block blog %}

<div class="container">
    <!-- H1 image title -->
    <div class="container">
        <h1><img class="responsive-img" src="{{ url_for('static', filename='images/BlogPosts.png')}}"></h1>
    </div>

    <!-- All cards -->
    {% for message in messages %}
    <div class="row" id="{{ message.id }}">
        <div class="col s12 m12 l12">
          <div class="card blue darken-3">
            <div class="card-content white-text">
                {% for tag in message.tags %}
              <span class="card-title">{{ tag.text }}</span>
                {% endfor %}
              <p class="flow-text">{{ message.text }}</p>
            </div>
            <div class="card-action">
                <!--<a class="waves-effect waves-light btn-flat" href="{{ url_for('home') }}">to main page</a>-->
                <a class="waves-effect waves-light btn blue lighten-2" href="{{ url_for('view_post', id=message.id-1) }}">Подробнее о программе</a>
            </div>
          </div>
        </div>
    </div>
    {% endfor %}



</div> <!-- MAIN CONTAINER -->

{% endblock %}