<!DOCTYPE html>
<html lang="en">
<!-- Head links framework -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greetings</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- materialize icons -->
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/4ddb9605aa.js" crossorigin="anonymous"></script> <!-- Fontawesomelink icons -->
</head>
<!-- Document body page -->
<body>
<!-- Header navbar -->
<header>
    <nav class="sidenav-trigger">
        <div class="nav-wrapper">
            <div class="container">
                {% if curusr %}
                    <a href="#!" class="brand-logo">root: {{ curusr }}</a>
                {% else %}
                    <a href="#!" class="brand-logo"><img style="margin-top: 5%;"src="{{ url_for('static', filename='images/logoQA.png')}}"></a>
                {% endif %}
            </div>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <div class="container">
                <ul class="right hide-on-med-and-down">
                <!--<li><a style="color: #e3f2fd;" href="#">Blog</a></li>-->
                    <li><a class="waves-effect waves-light btn" href="#">Blog</a></li>
                    {% if curusr %}
                    <li><a href="{{ url_for('main') }}">AddPost</a></li>
                    <li><a href="/admin">Admin</a></li>
                    <li><a href="/register">register</a></li>
                    <li><a href="/logout">logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="{{ url_for('main') }}">Blog</a></li>
        {% if curusr %}
        <li><a href="/admin">Admin</a></li>
        <li><a href="/register">register</a></li>
        <li><a href="/logout">logout</a></li>
        {% endif %}
    </ul>
</header>
<!-- Header panel-carousel, cover for my design -->
<div class="section red lighten-2" style="padding-top: 0rem; padding-bottom: 0.2rem; line-height: 0rem;">
    <div class="carousel carousel-slider center">
        <div class="carousel-fixed-item center">
            <!--
            <div class="container" style="padding-bottom: 3rem;">
                <img class="responsive-img" src="{{ url_for('static', filename='images/logotitle.png')}}">
            </div> -->
            <a class="waves-effect waves-light btn">Posts</a>
        </div>
        <div class="carousel-item red lighten-2 white-text" href="#one!">
            <img class="responsive-img" src="{{ url_for('static', filename='images/space2.png')}}">
        </div>
        <div class="carousel-item amber white-text" href="#two!">
          <h2>Second Panel</h2>
          <p class="white-text">This is your second panel</p>
        </div>
        <div class="carousel-item green white-text" href="#three!">
          <h2>Third Panel</h2>
          <p class="white-text">This is your third panel</p>
        </div>
        <div class="carousel-item blue white-text" href="#fourth!">
          <h2>fourth Panel</h2>
          <p class="white-text">This is your fourth panel</p>
        </div>
    </div>

</div>


<!-- paralax 1 -->
<div class="parallax-container">
      <div class="parallax"><img src="{{ url_for('static', filename='images/math.jpeg') }}"></div>
</div>
<!-- Prerequisit section 1 -->
<div class="section white">
<!-- Page Layout here -->
    <div class="row">
        <div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->
          <!-- Grey navigation panel

                This content will be:
            3-columns-wide on large screens,
            4-columns-wide on medium screens,
            12-columns-wide on small screens  -->
            <div class="container">
                <h4>White hat tester : </h4>
                <hr>
                <!--<img style="width: 95%; height: 95%;" src="{{ url_for('static', filename='images/mylogo.png')}}">-->
                <img class="responsive-img" src="{{ url_for('static', filename='images/hack.png')}}">
                <hr>
                <h5>Prefered tech stack</h5>
                <h6>Kali</h6>
                <p>Metasploit</p>
                <p>nmap</p>
                <p>OWASP ZAP</p>
                <p class="flow-text">I am Flow Text</p>
            </div>
        </div>

        <div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->
            <div class="container">
                <h4><img class="responsive-img" src="{{ url_for('static', filename='images/title2.png')}}"></h4>
                <p>As an applicant, I want to become a member of a group of professional
testers and improve my skills as an engineer for software testing automation.
To bring maximum benefit and mutual assistance to my team in creating a complex
software product. Work in the field of testing complex software products, test
automation, technical leadership of the testing group, planning and
implementation of various test solutions.</p>

            </div>
        </div>
    </div>
    <!-- paralax section white -->
</div>
<!-- paralax 2 -->
<div class="parallax-container">
      <div class="parallax"><img src="{{ url_for('static', filename='images/physics.jpg') }}"></div>
</div>
<!-- Main content section 2 -->
<div class="section white">

    <div class="row">

        <div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->
          <!-- Grey navigation panel

                This content will be:
            3-columns-wide on large screens,
            4-columns-wide on medium screens,
            12-columns-wide on small screens  -->
            <div class="container">
                <h4>Quality Assurance:</h4>
                <hr>
                <img class="responsive-img" src="{{ url_for('static', filename='images/mylogo.png')}}">
                <hr>
                <h5><a href="https://github.com/Nickolazz1"><i style="color: #64b5f6;" class="material-icons">person</i>Nick</a></h5>
                <h5><i style="color: #64b5f6;" class="material-icons">phone_android</i>+380990896690</h5>
                <h5><a href="mailto:elanir358@gmail.com"><i style="color: #64b5f6;" class="material-icons">mail_outline</i>Elanir358@gmail.com</a></h5>
            </div>
        </div>

        <div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->
          <!-- Teal page content

                This content will be:
            9-columns-wide on large screens,
            8-columns-wide on medium screens,
            12-columns-wide on small screens  -->

            <div class="container">
                <img class="responsive-img" src="{{ url_for('static', filename='images/title1.png')}}">
                <h4>Software Testing for your bysiness solution</h4>
                <p> Differend kinds of testing ready for you </p>
                <ul>
                    <li>
                        <p>Behavior driven development</p>
                    </li>
                    <li>
                        <p>OWASP top 10 detection</p>
                    </li>
                    <li>
                        <p>Acceptance test driven development</p>
                    </li>
                </ul>

                <div class="slider">
                    <ul class="slides">
                      <li>
                        <img src="{{ url_for('static', filename='images/programming.PNG') }}"> <!-- random image -->
                        <div class="caption right-align">
                          <h3 style="color: #ff1744;">Test automation</h3>
                          <h4 style="color: #84ffff;">BDD, programming.</h4>
                          <!--<h5 class="light cyan-text text-lighten-3">ATDD, BDD, unittest, programming, docker</h5>-->
                        </div>
                      </li>
                      <li>
                        <img src="{{ url_for('static', filename='images/semiautomate.png') }}"> <!-- random image -->
                        <div class="caption left-align">
                          <h3 style="color: #ff1744;">Semi-automation</h3>
                          <h4 style="color: #00b8d4">Kali linux testing tools</h4>
                        </div>
                      </li>
                      <li>
                        <img src="{{ url_for('static', filename='images/UML_pageElemet.png') }}"> <!-- random image -->
                        <div class="caption center-align">
                          <h3 style="color: #ff1744;">Documentation</h3>
                          <h4 style="color: #00b8d4">UML design</h4>
                        </div>
                      </li>
                    </ul>
                </div>
            </div>
            <!-- Teal page content

                This content will be:
            9-columns-wide on large screens,
            8-columns-wide on medium screens,
            12-columns-wide on small screens  -->
        </div>
    </div>
    <div class="container">
<!--<a class="carousel-item" href="#one!"><img src="{{ url_for('static', filename='images/red.png')}}"></a>-->

        {% if curusr%}
        <h1>Hello, user: {{ curusr }}</h1>
        {% else %}
        <h1>Hello, Anonymus</h1>
        {% endif %}

        <a href="{{ url_for('main') }}">Main page</a>

        <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores assumenda blanditiis cupiditate enim facere fugiat hic itaque iusto minus nobis numquam, quisquam recusandae sed similique suscipit, veritatis vitae voluptates?</P>

    </div>
</div>
<!-- Footer with advertising promotion -->
<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 5</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 6</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 7</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 8</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 9</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 10</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 11</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 12</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
 </footer>


<!-- Additional custom hardcode -->
<link rel="stylesheet" src="{{ url_for('static', filename='css/main.css') }}"> <!-- Sticky footer -->
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body> <!-- End Body document -->
</html>