<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greetings</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>

<header>
    <nav class="sidenav-trigger">
        <div class="nav-wrapper">
            <div class="container">
                {% if curusr %}
                    <a href="#!" class="brand-logo">root: {{ curusr }}</a>
                {% else %}
                    <a href="#!" class="brand-logo"><img style="margin-top: 5%;"src="{{ url_for('static', filename='images/logoQA.png')}}"></a>
                {% endif %}
            </div>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a style="color: #e3f2fd;" href="#">Blog</a></li>
                {% if curusr %}
                <li><a href="{{ url_for('main') }}">AddPost</a></li>
                <li><a href="/admin">Admin</a></li>
                <li><a href="/register">register</a></li>
                <li><a href="/logout">logout</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="{{ url_for('main') }}">Blog</a></li>
        {% if curusr %}
        <li><a href="/admin">Admin</a></li>
        <li><a href="/register">register</a></li>
        <li><a href="/logout">logout</a></li>
        {% endif %}
    </ul>
</header>

<!--
<div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="{{ url_for('static', filename='images/background.jpg')}}"></a>
    <a class="carousel-item" href="#two!"><img src="{{ url_for('static', filename='images/mountains.jpg')}}"></a>
    <a class="carousel-item" href="#three!"><img src="{{ url_for('static', filename='images/red.png')}}"></a>
</div>
-->

<div class="parallax-container">
      <div class="parallax"><img src="{{ url_for('static', filename='images/town.png') }}"></div>
</div>

<div class="section white">
<!-- Page Layout here -->
<div class="row">

        <div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->
          <!-- Grey navigation panel

                This content will be:
            3-columns-wide on large screens,
            4-columns-wide on medium screens,
            12-columns-wide on small screens  -->
            <div class="container">
                <h4 style="margin-left: 10px;">Software Testing : </h4>
                <hr>
                <img style="width: 95%; height: 95%;" src="{{ url_for('static', filename='images/mylogo.png')}}">
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui, modi natus. Minus officiis dolor nulla quidem iste dolore quia fugit voluptates veritatis labore repudiandae, cumque vitae quisquam nihil rem sequi.</p>
                <img src="{{ url_for('static', filename='images/GaAs.gif')}}">
            </div>
        </div>

        <div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->
          <!-- Teal page content

                This content will be:
            9-columns-wide on large screens,
            8-columns-wide on medium screens,
            12-columns-wide on small screens  -->

            <div class="container">
                <h1>Hello materialize</h1>
                <p>     Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book.
                </p>

                <div class="slider">
                    <ul class="slides">
                      <li>
                        <img src="https://lorempixel.com/580/250/nature/1"> <!-- random image -->
                        <div class="caption center-align">
                          <h3>This is our big Tagline!</h3>
                          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                      </li>
                      <li>
                        <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
                        <div class="caption left-align">
                          <h3>Left Aligned Caption</h3>
                          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                      </li>
                      <li>
                        <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
                        <div class="caption right-align">
                          <h3>Right Aligned Caption</h3>
                          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                      </li>
                      <li>
                        <img src="https://lorempixel.com/580/250/nature/4"> <!-- random image -->
                        <div class="caption center-align">
                          <h3>This is our big Tagline!</h3>
                          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                      </li>
                    </ul>
                </div>
            </div>
            <!-- Teal page content

                This content will be:
            9-columns-wide on large screens,
            8-columns-wide on medium screens,
            12-columns-wide on small screens  -->
        </div>
</div>
    <!-- paralax section white -->
</div>

<div class="parallax-container">
      <div class="parallax"><img src="{{ url_for('static', filename='images/snow.jpg') }}"></div>
</div>


<div class="section white">
    <div class="container">
<!--<a class="carousel-item" href="#one!"><img src="{{ url_for('static', filename='images/red.png')}}"></a>-->

        {% if curusr%}
        <h1>Hello, user: {{ curusr }}</h1>
        {% else %}
        <h1>Hello, Anonymus</h1>
        {% endif %}

        <a href="{{ url_for('main') }}">Main page</a>

        <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet asperiores assumenda blanditiis cupiditate enim facere fugiat hic itaque iusto minus nobis numquam, quisquam recusandae sed similique suscipit, veritatis vitae voluptates?</P>

    </div>
</div>

<div class="parallax-container">
      <div class="parallax"><img src="{{ url_for('static', filename='images/town_footer.png') }}"></div>
</div>


 <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
 </footer>


<link rel="stylesheet" src="{{ url_for('static', filename='css/main.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>