{% extends "index.html" %}
{% block landing %}
<!-- Header panel-carousel, cover for my design -->
<div class="section red lighten-2" style="padding-top: 0rem; padding-bottom: 0.2rem; line-height: 0rem;">
    <div class="carousel carousel-slider center">
        <div class="carousel-fixed-item center">
            <!--
            <div class="container" style="padding-bottom: 3rem;">
                <img class="responsive-img" src="{{ url_for('static', filename='images/logotitle.png')}}">
            </div> -->
            <a class="waves-effect waves-light btn" href="{{ url_for('blog') }}">Courses</a>
        </div>
        <div class="carousel-item red lighten-2 white-text" href="#one!">
            <img class="responsive-img" src="{{ url_for('static', filename='images/space2.png')}}">
        </div>
        <div class="carousel-item green white-text" href="#two!">
          <h2>Somehow, the concept of freedom was lost. It is also a question of what freedom loners have appropriated for themselves ... or what freedom we are trying so hard to preserve.</h2>
          <p class="white-text">Paul Denton</p>
        </div>
        <div class="carousel-item blue white-text" href="#three!">
          <h2>A person is least like himself when he speaks on his own behalf. Give him a mask and he will tell the whole truth.</h2>
          <p class="white-text">Oscar Wilde</p>
        </div>
    </div>

</div>


<!-- paralax 1 -->
<div class="parallax-container">
      <div class="parallax"><img src="{{ url_for('static', filename='images/math.jpeg') }}"></div>
</div>
<!-- Prerequisit section 1 -->
<div class="section light-blue lighten-5">
<!-- Page Layout here -->
    <div class="row">
        <div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->
          <!-- Grey navigation panel

                This content will be:
            3-columns-wide on large screens,
            4-columns-wide on medium screens,
            12-columns-wide on small screens  -->
            <div class="container">
                <h5 class="blue-grey-text text-darken-2">&nbsp;# "Programming coach"</h5>
                <p class="blue-grey-text">Ваш персональный репетитор по пограммированию.</p>
                <hr>
                <br>
                <div class="container">
                    <img class="responsive-img" src="{{ url_for('static', filename='images/hack.png')}}">
                </div>
                <br>
                <hr>
                <h5 class="blue-grey-text">&nbsp;Мы предлагаем:</h5>
                <div class="my_offered_stack">
                    <blockquote>
                        <b><p class="purple-text text-darken-1">Удаленные занятия по программированию в режиме конференции. (Skype, Zoom)</p></b>
                    </blockquote>
                    <blockquote>
                        <b><p class="blue-text text-darken-2">Персональные уроки с квалифицированным преподавателем.</p></b>
                    </blockquote>
                    <blockquote>
                        <b><p class="teal-text text-darken-1">Индивидуальный график и персональная программа занятий.</p></b>
                    </blockquote>
                    <blockquote>
                        <b><p class="pink-text text-darken-2">Помощь в составлении резюме и поиске работы.</p></b>
                    </blockquote>
                     <blockquote>
                        <b><p class="cyan-text text-darken-2">Изучение основ компьютерной грамотности для школьников.</p></b>
                    </blockquote>
                </div>
            </div>
        </div>

        <div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->
            <div class="container">
                <h4><img class="responsive-img" src="{{ url_for('static', filename='images/title3.png')}}"></h4>

                <p class="flow-text blue-grey-text text-darken-2">&nbsp;&nbsp;&nbsp;Проект "Programming coach" предлагает Вам возможность
                    под руководством опытного преподавателя дистанционно овладеть навыками программирования,
                    а также получить современную профессию, широко востребованную на рынке труда.
                </p>

                <h5 class="blue-grey-text">Solve your problem</h5>
                <table class="responsive-table">
                    <thead>
                        <tr>
                            <th>problem / проблема</th>
                            <th>solution / решение</th>
                            <th>profit / выгода</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Ищете удаленную работу в условиях пандемии COVID19?</td>
                            <td>Запишись на курс и получи навыки разработчика или тестера программного обеспечения.</td>
                            <td>Вы получаете навыки которые позволят Вам работать удаленно не выходя из дома.</td>
                        </tr>
                        <tr>
                            <td>Нет возможности регулярно посещать академические курсы?</td>
                            <td>Вам предлагается гибкий график обучения, адаптированный под ВАШИ нужды.</td>
                            <td>Учись в удобном для себя режиме по индивидуальной программе.</td>
                        </tr>
                        <tr>
                            <td>Ищете международно-конвертируемую профессию?</td>
                            <td>Мы поможем Вам освоить навыки тестера ПО или Junior разработчика.</td>
                            <td>Помощь в подготовке резюме и разработке портфолио для получения первого контракта.</td>
                        </tr>
                        <tr>
                            <td>Вы хотели бы создать собственное Web-приложение для ведения бизнеса, но не знаете с чего начать?</td>
                            <td>Мы поможем Вам освоить один из ведущих Web-фреймворков для создания собственных бизнес-приложений</td>
                            <td>Вы приобретаете начальные навыки "full-stack developer", которые позволят самостоятельно развивать собственный бизнес.</td>
                        </tr>
                        <tr>
                            <td>Вы хотели бы чтобы Ваш ребенок получил уверенный навык работы компьютером?</td>
                            <td>Предлагаем курс по основам компьютерной грамотности и основам программирования для школьников.</td>
                            <td>Курс может быть подобран индивидуально либо может соответствовать профильной школьной программе.</td>
                        </tr>
                    </tbody>
                </table>
                <p class="blue-grey-text text-darken-1">
                    &nbsp;&nbsp;&nbsp;Детали каждой программы могут быть изменены под Ваши нужды и по Вашему требованию.
                </p>
            </div>
        </div>
    </div>
    <!-- paralax section white -->
</div>
<!-- paralax 2 -->
<div class="parallax-container">
      <div class="parallax"><img src="{{ url_for('static', filename='images/physicsColor.jpg') }}"></div>
</div>
<!-- Main content section 2 -->
<div class="section light-blue lighten-5">

    <div class="row">

        <div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->
          <!-- Grey navigation panel

                This content will be:
            3-columns-wide on large screens,
            4-columns-wide on medium screens,
            12-columns-wide on small screens  -->
            <div class="container">
                <h5>&nbsp;Quality Assurance</h5>
                <hr>
                <img class="responsive-img" src="{{ url_for('static', filename='images/mylogo.png')}}">
                <hr>
                <p class="blue-grey-text">Преподаватель курса автоматизации тестирования:</p>
                <div class="personal">
                    <h6 style="color: #64b5f6;">
                        <a href="https://www.linkedin.com/in/nick-prytula-b724b1151/">
                            <i class="fab fa-linkedin-in"></i>
                                Nick
                        </a>
                    </h6>
                    <h6>
                        <i style="color: #64b5f6;" class="fab fa-skype"></i>
                            Nickolazz1
                    </h6>
                    <h6 style="color: #64b5f6;">
                        <a href="https://github.com/Nickolazz1">
                            <i class="fab fa-github"></i>
                                GitHub
                        </a>
                    </h6>
                    <h6>
                        <i style="color: #64b5f6;" class="material-icons">phone_android</i>
                            +380990896690
                    </h6>
                    <h6>
                        <a href="mailto:elanir358@gmail.com">
                            <i style="color: #64b5f6;" class="material-icons">mail_outline</i>
                                elanir358@gmail.com
                        </a>
                    </h6>
                    <br>
                    <div class="container">
                        <img class="responsive-img" src="{{ url_for('static', filename='images/ORCID.png')}}">
                    </div>
                    <div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0001-8426-6364" href="https://orcid.org/0000-0001-8426-6364" target="orcid.widget" rel="me noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">https://orcid.org/0000-0001-8426-6364</a></div>
                </div>
            </div>
        </div>

        <div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->
          <!-- Teal page content

                This content will be:
            9-columns-wide on large screens,
            8-columns-wide on medium screens,
            12-columns-wide on small screens  -->

            <div class="container">
                <h4><img class="responsive-img" src="{{ url_for('static', filename='images/title1.png')}}"></h4>
                <h4>Software Testing for your bysiness solution</h4>
                <p> Вашему вниманию предлагается курс по основам тестирования и автоматизации программного обеспечения.</p>
                <p> Курс расчитан на опытных пользователей, потому перед заказом рекомендуется пройти курс по основам программирования.</p>
                <ul>
                    <li>
                        <blockquote>
                            <p class="flow-text">BDD test automation: <a href="https://github.com/Nickolazz1/OWASP_BWA_automation">example</a></p>
                            <p> OWASP BWA - test-platform with most known top 10 vulnerabilities. #Python, #Gherkin, #selenium, #selenoid, #docker, #vmware</p>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote>
                            <p class="flow-text">Acceptance test driven development: <a href="https://github.com/Nickolazz1/JavaAutomation">java autotests example</a></p>
                            <p>java/python test automation. Singletone, page object patterns.</p>
                        </blockquote>
                    </li>
                    <li>
                        <blockquote>
                            <p class="flow-text">OWASP top 10 error detection</p>
                            <a href="https://owasp.org/www-project-top-ten/">owasp.org project link</a>
                        </blockquote>
                    </li>
                </ul>

                <div class="slider">
                    <ul class="slides">
                      <li>
                        <img src="{{ url_for('static', filename='images/programming.PNG') }}"> <!-- random image -->
                        <div class="caption right-align">
                          <h3 style="color: #ff1744;">Test automation</h3>
                          <h4 style="color: #84ffff;">BDD, programming.</h4>
                          <!--<h5 class="light cyan-text text-lighten-3">ATDD, BDD, unittest, programming, docker</h5>-->
                        </div>
                      </li>
                      <li>
                        <img src="{{ url_for('static', filename='images/semiautomate.png') }}"> <!-- random image -->
                        <div class="caption left-align">
                          <h3 style="color: #ff1744;">Semi-automation</h3>
                          <h4 style="color: #00b8d4">Kali linux testing tools</h4>
                        </div>
                      </li>
                      <li>
                        <img src="{{ url_for('static', filename='images/UML_pageElemet.png') }}"> <!-- random image -->
                        <div class="caption center-align">
                          <h3 style="color: #ff1744;">Documentation</h3>
                          <h4 style="color: #00b8d4">UML design</h4>
                        </div>
                      </li>
                    </ul>
                </div>
            </div>
            <!-- Teal page content

                This content will be:
            9-columns-wide on large screens,
            8-columns-wide on medium screens,
            12-columns-wide on small screens  -->
        </div>
    </div>

    <div class="container">

        <h4 class="blue-grey-text text-darken-3">Почему профессия тестера программного обеспечения актульна для Вас?</h4>

        <p class="flow-text blue-grey-text text-darken-3" id="hardcode">
            &nbsp;&nbsp;&nbsp; Быстрый старт в сфере IT, минимальный порог вхождения в профессию,
                освоить базовые навыки достаточно легко, Вы можете начать работать в относительно короткий срок.
                Легко начать писать несложные тестовые скрипты, в дальнейшем освоить более сложные инструменты
                или переквалифицироваться в разработчика.
        </p>

    </div>
<!-- END Main content section 2 -->
</div>
{% endblock %}