{% extends "index.html" %}
{% block post %}
<div class="post_content">
    <div class="container">
        <div class="card-panel blue lighten-4">
            {% for tag in tags %}
                <h1 class="light-blue-text text-darken-4">{{ tag.text }} course:</h1>
                <hr class="blue-text text-lighten-3">
            {% endfor %}
            <p class="flow-text blue-grey-text text-darken-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ post }}</p>
            <p class="flow-text blue-grey-text text-darken-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ postdetail }}</p>
        </div>

        <div class="card-panel purple lighten-5">
            <h6 class="blue-grey-text text-darken-3">Contacts information:</h6>
            <hr class="purple-text text-lighten-4">
            <p class="flow-text blue-grey-text text-darken-3">Для заказа курса свяжитесь с преподавателем по телефону:</p>
            <h3 class="pink-text text-lighten-1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+38(099)089-66-90</h3>
            <p class="blue-grey-text text-darken-3">Только для жителей Украины.</p>
        </div>
    </div>
</div>
<!-- custom style for footer -->
<style type="text/css">
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
</style>
{% endblock %}